/* Las variables de este tema sólo aplicarán a todos los demás estilos si
la etiqueta <body> tiene la clase "light" */
body.light {
    /* LAYOUT */
    --top-bar-background: #f0f0f0;
    --body-background: #fcfcfc;
    --main-text-color: #000;
    --main-hover-background: rgba(90, 90, 90, 0.1);
    --color-scrollbar-dark: rgba(255, 255, 255, 0.1);
    --color-scrollbar-light: rgba(0, 0, 0, 0.1);

    /* POSTS */
    --post-list-item-background: #eeeeee;
}