.post {
   border-bottom: 0.2rem solid var(--post-list-item-background);
   padding-bottom: 2rem;
   position: relative;
}

button {
   position: absolute;
   top: 0.5rem;
   right: 0.5rem;
   border: 0;
   background:var(--post-list-item-background);
   padding: 0.5rem 1rem;
   transition: filter 0.2s linear;
   border-radius: 0.3rem;
   color: inherit;
}

button i {
   font-size: 2rem;
   vertical-align: middle;
}

button span {
   vertical-align: middle;
}

button:hover {
   filter: contrast(0.9);
}

.comments {
   margin-top: 2rem;
   padding: 1rem;
   background: var(--post-list-item-background);
   border-radius: 0.6rem;
}

li {
   padding: 0 1rem;
   margin: 2rem 0;
}
