<header>
    <figure>
        <img src="/assets/img/code-minds.png" alt="Code Minds Logo" />
    </figure>
    <nav>
        <ul>
            <li>
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Posts</a>
            </li>
            <li>
                <a routerLink="/gallery" routerLinkActive="active">Gallery</a>
            </li>
            <li>
                <!-- La variable theme tiene el tema activo, si buscamos utilizando este valor como llave
                en el diccionario de temas, tendremos de vuelta el valor del tema contrario. De esta manera
                el tema activo pinta la pantalla con los colores del mismo mientras que este botón se pinta con
                el ícono y la acción a cambiar del tema contrario -->
                <button class="material-icons-sharp" type="button" (click)="changeTheme(themes[theme])">{{themes[theme]}}_mode</button>
            </li>
        </ul>
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>
